.home__container {
    grid-area: main;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.home__title {
    text-align: center;
}

.home__title h1 {
    font-size: 32px;
}


.home__title p {
    font-size: 24px;
}

.imgs {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    gap: 1rem;
}


.img {
    width: 300px;
}

@media screen and (min-width: 768px) {
    .imgs {
        flex-direction: row;
    }
  }