* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MapaPoluicao {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.ImgMapaPoluicao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
}

.ImgMapaPoluicao > img {
    width: 70%;
}

.ImgRanking > h1 {
    text-indent: ;
}