* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rodape {
  grid-area: footer;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.textos-social {
  display: flex;
  flex-direction: column;
}

.textos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem;
  text-align: center;
}

.textos p {
  font-size: 14px;
}

.redes-sociais {
  display: flex;
  justify-content: space-around;
}

.Img-Rodape {
  width: 300px;
  margin: 3rem;
}

@media screen and (min-width: 768px) {
  .rodape {
    flex-direction: row;
    padding: 0 2rem;
  }
}