@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
}

.navegacao {
    grid-area: nav;
    width: 100%;
    text-decoration: none;
    padding: 1rem;

    background: rgb(212,248,255);
background: linear-gradient(156deg, rgba(212,248,255,1) 0%, rgba(87,179,180,1) 46%, rgba(77,79,143,1) 100%);
}

.navegation {
    display: flex;
}


.link {
    color: var(--text-color) ;
    text-decoration: none;
}

.link:hover{
    color: black;
}

.logo-img {
    width: 200px;
}